exclude .DS_Store
recursive-exclude .venv *
recursive-exclude .build_venv *
recursive-exclude vendor *
recursive-exclude Results *
recursive-exclude examples *
recursive-exclude tests *
recursive-exclude docs *
recursive-exclude مفاتيح *
exclude config.json
exclude project-context.txt
exclude bootstrap.sh
include README.md
include LICENSE
recursive-include core/resources *.json
